.app-navbar {
	width: 100%;
	border-bottom: 1px solid var(--border-color-light);
	padding: 10px 0;

	&__content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-size: var(--font-4);
		color: var(--text-color-light);
		font-weight: 600;
	}

	&__section {
		display: flex;
		align-items: center;
		gap: 20px;
	}
}
