.button {
	--button-padding: 12px 36px;

	border-radius: var(--border-radius);
	padding: var(--button-padding);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-transform: capitalize;
	transition: all 0.32s ease-in-out;
	font-weight: 400;
	font-size: var(--font-4);
	white-space: nowrap;
	text-decoration: none;

	@media screen and (max-width: 1024px) {
		& {
			--button-padding: 10px 20px;
		}
	}

	&:hover {
		box-shadow: var(--shadow-light);
	}

	&__wrapper {
		display: inline-block;
	}

	&__icon {
		display: inline-block;
		margin-right: 10px;
		padding-right: 10px;
		border-right: 1px solid var(--border-color-opacity);
		transition: border-right-color 0.32s ease-in-out;
		color: inherit;

		&--end {
			margin-right: 0;
			padding-right: 0;
			border-right: none;
			margin-left: 5px;
		}
	}

	&--fullWidth {
		width: 100%;
	}

	&--primary {
		color: var(--white);
		background: var(--primary-color);
	}

	&--outlined {
		color: var(--text-color);
		background: transparent;
		border: 1px solid var(--border-color);
	}

	&--standard {
		color: var(--white);
		background: var(--gray-900);
	}

	&--delete {
		color: var(--danger-color);
		background: var(--danger-color-200);
	}
	&--delete &__icon {
		border-right-color: var(--danger-color);
	}

	&--outlined {
		border: 1px solid var(--primary-color);
		color: var(--primary-color);

		&:hover {
			background-color: var(--primary-color);
			color: var(--white);
		}

		&-standard {
			border: 1px solid var(--gray-900);
			color: var(--gray-900);
			background-color: var(--white);
	
			&:hover {
				background-color: var(--gray-900);
				color: var(--white);
			}
		}
	}

	&--small {
		--button-padding: 8px 16px;
		font-size: var(--font-3);

		@media screen and (max-width: 567px) {
			--button-padding: 6px 12px;
		}
	}

	&:disabled {
		cursor: not-allowed;
		pointer-events: all !important;
		opacity: 0.6;
	}

	&--disabled {
		cursor: not-allowed;
		opacity: 0.6;

		&:hover {
			box-shadow: unset;
			background-color: inherit;
		}
	}
}
