.page {
	height: 100%;

	&--center {
		display: flex;
		place-items: center;
	}

	&--fullHeight {
		min-height: 100vh;
		height: 100%;
	}

	&--hasSidebar {
		background-color: var(--bg-color);
	}

	&__content {
		border-top-left-radius: var(--border-radius-lg);
		background-color: var(--bg-color-secondary);
		width: calc(100% - var(--sidebar-width));
		position: fixed;
		top: 15px;
		left: var(--sidebar-width);
		border: 1px solid var(--border-color);
		height: 100%;
		overflow-y: auto;

		/* @media screen and (max-width: 1024px) {
			& {
				width: calc(100% - 20px);
			}
		} */

		@media screen and (max-width: 767px) {
			& {
				width: calc(100% - 15px);
				left: 15px;
			}
		}
	}

	&__layout {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 15%;

		& > :first-child {
			grid-column: span 2;
		}
	}
}
