.statistics-sidebar {
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
        
		&-heading {
			font-size: var(--font-3);
			font-weight: 600;
		}
	}

	&__content {
		margin-top: 20px;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-heading {
			font-size: var(--font-3);
			font-weight: 300;
			color: var(--gray-700);
			text-align: left;
		}

		&-value {
			font-size: var(--font-2);
			font-weight: 600;
			text-align: right;
		}

		&:not(:last-child) {
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid var(--border-color-light);
		}
	}
}
