<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{title}}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="stylesheet" href="css/style.css" />
    </head>

    <body>
        <main class="page page--hasSidebar">
            {{> app-sidebar
                logo=logo
                logoAlt=logoAlt
                navLinks=navLinks
            }}
            
            <div class="page__content">
				{{> app-navbar
					title=navTitle
					searchId=navSearchId
					searchName=navSearchName
					searchValue=navSearchValue
					searchPlaceholder=navSearchPlaceholder
					searchClass=navSearchClass
					userPhoto=navUserPhoto
					userPhotoAlt=navUserPhotoAlt
				}}
                <div class="container container--page container--page-padding" data-profile>       
                    <form class="profile-form">
                        <div class="profile-form__section profile-form__photo-wrapper">
                            <div class="profile-form__photo">
                                <img src="" alt="User profile photo - Inveit" data-profile-image>
                                <label for="upload-photo" data-profile-image-button role="button">
                                    <i class="profile-form__photo-icon icon-camera"></i>
                                </label>
                                <input class="sr-only" type="file" id="upload-photo" accept=".png, .jpg, .jpeg, .webp" data-profile-image-input />
                            </div>
                            <div class="profile-form__photo-info">
                                <p class="profile-form__photo-info-name" data-display-user-name></p>
                                <p class="profile-form__photo-info-email" data-display-user-age></p>
                            </div>
                        </div>
                        <div class="profile-form__section profile-form__inputs" data-profile-inputs>
                            {{!-- Elements Will be rendered from JS --}}
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <script src="js/views/profile.mjs" type="module"></script>
        <script src="js/index.mjs" type="module"></script>
    </body>
</html>
