<div class="add-new-dropdown">
    <i class="add-new-dropdown__icon icon-plus" role="button" aria-label="Choose What to add" data-add-new-dropdown-toggler></i>

    <ul class="add-new-dropdown__content" data-add-new-dropdown>
        <li>
            <a href="inventories.html#add-inventory">Add New Inventory</a>
        </li>
        <li>
            <a href="products.html">Add New Product</a>
        </li>
    </ul>
</div>