<section id="features" class="section">
    <div class="container">
        <div class="section__content">
            {{> section-heading
                title="Built to Make Your Life Easier"
            }}

            <div class="features grid cols-3">
                <div class="features__card">
                    <img class="features__card-image" src="assets/images/bag.png" alt="Inventory Tracking - Inveit">
                    <div class="features__card-content">
                        <h3 class="features__card-title">Inventory Tracking</h3>
                        <p class="features__card-description">Easily monitor stock levels and stay on top of your inventory.</p>
                    </div>
                </div>

                <div class="features__card">
                    <img class="features__card-image" src="assets/images/time.png" alt="Real-Time Updates - Inveit">
                    <div class="features__card-content">
                        <h3 class="features__card-title">Real-Time Updates</h3>
                        <p class="features__card-description">Get instant updates on inventory, orders, and sales.</p>
                    </div>
                </div>

                <div class="features__card">
                    <img class="features__card-image" src="assets/images/thunder.png" alt="Fast Performance - Inveit">
                    <div class="features__card-content">
                        <h3 class="features__card-title">Fast Performance</h3>
                        <p class="features__card-description">Enjoy a fast, seamless experience with optimized performance.</p>
                    </div>
                </div>

                <div class="features__card">
                    <img class="features__card-image" src="assets/images/location.png" alt="Multi-Location Management - Inveit">
                    <div class="features__card-content">
                        <h3 class="features__card-title">Multi-Location Management</h3>
                        <p class="features__card-description">Manage inventory across multiple locations effortlessly.</p>
                    </div>
                </div>

                <div class="features__card">
                    <img class="features__card-image" src="assets/images/privacy.png" alt="Privacy & Security - Inveit">
                    <div class="features__card-content">
                        <h3 class="features__card-title">Privacy &amp; Security</h3>
                        <p class="features__card-description">Keep your data secure with top-notch privacy features.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>