<footer id="contact" class="footer">
	<div class="container">
		<div class="footer__upper">
			<div class="footer__column">
				<img
					class="footer__logo"
					src="assets/images/full-logo.png"
					alt="Inveit - Inventory Management System"
				/>
                <div class="footer__icons">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                        <i class="footer__icon icon-facebook"></i>
                    </a>
                    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
                        <i class="footer__icon icon-x"></i>
                    </a>
                    <a href="https://linkedin.com/" target="_blank" rel="noopener noreferrer">
                        <i class="footer__icon icon-linkedin"></i>
                    </a>
                </div>
			</div>
			<div class="footer__column">
				<p class="footer__description">Inveit is a powerful inventory
					management system that helps you manage your inventory
					efficiently.</p>
			</div>
			<div class="footer__column">
				<h3 class="footer__title">Quick Links</h3>
				<ul class="footer__links">
					<li class="footer__link"><a href="index.html">Home</a></li>
					<li class="footer__link"><a
							href="index.html#features"
						>Features</a></li>
					<li class="footer__link"><a
							href="index.html#faq"
						>FAQ</a></li>
					<li class="footer__link"><a href="register.html">Create
							Account</a></li>
					<li class="footer__link"><a href="login.html">Login</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer__lower">
		<div class="container">
			<p>Copyright &copy; 2024 All Rights Reserved by Khaled</p>
		</div>
	</div>

	{{> scroll-to-top }}
</footer>