<section class="listing">
    <header class="listing__header">
        <h2 class="listing__header-title">{{title}}</h2>
        {{#if counter}}
        <span class="listing__header-count">{{counter}}</span>
        {{/if}}
    </header>

    <div class="listing__body" {{dataAttribute}}="">
        {{!-- inventories will be dynamically created from js --}}
    </div>
</section>
