<section class="listing">
    <header class="listing__header">
        <h2 class="listing__header-title">{{title}}</h2>
        <span class="listing__header-count">{{count}}</span>
    </header>

    <div class="listing__body">
        {{#each cards}}
            {{> listing-card
                title=this.cardTitle
                subtitle=this.cardSubtitle
                description=this.cardDescription
                badges=this.badges
                iconName="add"
            }}
        {{/each}}
    </div>
</section>
