<nav class="navbar">
    <div class="container">
        <div class="navbar__content">
            <img class="navbar__logo" src="assets/images/full-logo.png" alt="Inveit - Inventory Management System">
            <ul class="navbar__menu" data-navbar-menu>
                <li><a class="navbar__menu-item" href="index.html">Home</a></li>
                <li><a class="navbar__menu-item" href="index.html#features">Features</a></li>
                <li><a class="navbar__menu-item" href="index.html#faq">FAQ</a></li>
                <li><a class="navbar__menu-item" href="index.html#contact">Contact</a></li>
                {{!-- <li><a class="navbar__menu-item" href="privacy.html">Privacy</a></li> --}}
            </ul>
            <div class="navbar__content-section">
                {{> button
                    label="Create Account"
                    variant="primary"
                    href="register.html"
                    size="small"
                }}
                
                <i role="button" aria-label="Toggle navigation" class="navbar__toggler icon-menu" data-navbar-menu-toggler></i>
            </div>
        </div>
    </div>
</nav>