<div class="statistic-card">
    <i class="statistic-card__icon icon-{{iconName}}" aria-hidden="true"></i>
    <span class="statistic-card__title">{{title}}</span>
    <span class="statistic-card__value">{{value}}</span>
    <span class="statistic-card__period">Full Time</span>
</div>