<aside class="statistics-sidebar">
	<header class="statistics-sidebar__header">
		<span class="statistics-sidebar__header-heading">Statistic</span>
		<span class="statistics-sidebar__header-heading">Value</span>
	</header>
	<div class="statistics-sidebar__content">
		{{#each items}}
			<div class="statistics-sidebar__item">
				<span
					class="statistics-sidebar__item-heading"
				>{{this.heading}}</span>
				<span
					class="statistics-sidebar__item-value"
				>{{this.value}}</span>
			</div>
		{{/each}}
	</div>
</aside>