:root {
	--border-radius: 5px;
	--border-radius-lg: 15px;
	--border-radius-full: 1000px;

	--text-color: #222;
	--text-color-light: #444;
	--primary-color: #ff6a00;
	--primary-color-100: #ffd6b8;
	--primary-color-200: #fff4eb;
	--border-color: #ddd;
	--border-color-opacity: rgba(221, 221, 221, 0.3);
	--border-color-light: #eee;
	--bg-color: #f6f7f9;
	--bg-color-secondary: #fff;

	--success-color: #24c47c;
	--success-color-100: #aff1d3;
	--success-color-200: #e6fff4;

	--warning-color: #dfaa0b;
	--warning-color-100: #fcf3a2;
	--warning-color-200: #fffce5;

	--danger-color: #d82139;
	--danger-color-100: #f5c5cb;
	--danger-color-200: #ffeef0;

	--info-color: #237ed3;
	--info-color-100: #9bd0f1;
	--info-color-200: #ecf7ff;

	--alignment: right;

	--line-height-xl: 2;
	--line-height-lg: 1.75;
	--line-height-md: 1.5;
	--line-height-sm: 1.25;

	--font-1: 12px;
	--font-2: 14px;
	--font-3: 16px;
	--font-4: 18px;
	--font-5: 22px;
	--font-6: 26px;
	--font-7: 32px;
	--font-8: 36px;
	--font-9: 40px;
	--font-10: 50px;

	--font: "Poppins", sans-serif;

	--white: #fff;
	--gray-100: #f2f2f2;
	--gray-200: #e5e5e5;
	--gray-300: #d9d9d9;
	--gray-400: #cccccc;
	--gray-500: #b4b4b4;
	--gray-600: #6c757d;
	--gray-700: #495057;
	--gray-800: #343a40;
	--gray-900: #071a2e;

	--sidebar-width: 300px;

	--shadow-row: hsla(219, 7%, 48%, 0.15) 0px 25px 20px -20px,
		hsla(220, 7%, 48%, 0.15) 0px -25px 20px -20px;
	--shadow-gray: 0px 15px 30px 0px rgba(0, 0, 0, 0.089);

	// @media screen and (max-width: 767px) {
	// 	--sidebar-width: 300px;
	// }

	@media screen and (max-width: 567px) {
		& {
			--font-4: 16px;
			--font-5: 18px;
			--font-6: 22px;
			--font-7: 28px;
			--font-8: 32px;
			--font-9: 38px;
			--font-10: 46px;
		}
	}
}
